<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Todo" sequenceNumber="14">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.1.v20170928-1405"/>
            <unit id="org.eclipse.platform.sdk" version="4.7.1.M20171009-0410"/>
            <repository location="http://download.eclipse.org/eclipse/updates/4.7/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.0.0.201705220748"/>
            <repository location="http://download.eclipse.org/efxclipse/runtime-released/3.0.0/site"/>
        </location>
    </locations>
</target>
